@model ProjektLAB.Models.Dane.Cars

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete a car</h1>

<p>Are you sure you want to delete the car?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CarId" />
    <button type="submit">Delete</button>
</form>
